@model HotelSys.ViewModel.CityViewModel


@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{

    @*Farze+regester*@

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">





     <link href="~/assets/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
     <link href="~/assets/plugins/animate/animate.min.css" rel="stylesheet" type="text/css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




}
<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            

            <div class="row">


  <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">

                        <h4 class="page-title">الاعدادات</h4>
                    </div>
                    <!--end page-title-box-->
                </div>
                <!--end col-->
            </div>

            <div class="row">

                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-end">

                            <a asp-action="Index">رجوع</a>

                        </div>
                        <h4 class="page-title">اعدادات عامة </h4>
                    </div>
                    <!--end page-title-box-->
                </div>
                <br />
                <br />



                 <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link  " href="@Url.Action("Index", "SettingGeneral")">اعدادات الخدمات</a>
      </li>
       <li class="nav-item">
        <a class="nav-link " href="@Url.Action("Index", "H_Country")">تهيئة الدول</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Index", "H_City")">تهيئة المحافظات</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="@Url.Action("Index", "H_Area")">تهيئة المديريات</a>
      </li>
    </ul>
  </div>
  <div class="card-body">

    <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-end">
                            <ol class="breadcrumb">
                               @*<li class="breadcrumb-item"><a href="#">المحافظات</a></li>*@
                            </ol>
                            <button type="button" class="btn btn-success" style="margin-bottom:10px" onclick="showInPopup('@Url.Action("AddOrEdit","H_City",null,Context.Request.Scheme)','محافظة جديدة')">
                                <i class="fa fa-plus"></i>  محافظة جديدة
                                    </button>
                        </div>
                         
                               
                                   
                    </div>
                    <!--end page-title-box-->
                </div>
                <!--end col-->
            </div>

            <div class="row">
                            <div class="col-md-12">

                               

                                    <div class="form-group ">
                                        <span>
                                            <label>اختر الدولة</label>
                                            <select class="form-control" id="userinputid" asp-items="ViewBag.IdCountry" asp-for="IdCountry">

                                                @**@
                                            </select>
                                            <span asp-validation-for="IdCountry" class="text-danger"></span>
                                        </span>
                                    </div>
                                   </div>
                          </div>


      
       
<div class="row">

   
     <div class="table-responsive">

      
@*
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                       <label > اسم المحافظة</label>
                    </th>

                     <th>
                        <label > عدد المديريات</label>
                    </th>
                    
                    <th>
                           </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                            
                        </td>
                         <td>
                       
                             @Html.DisplayFor(modelItem => item.countArea)
                        </td>
                        
                        <td>
                            <div>
                                <a onclick="showInPopup('@Url.Action("AddOrEdit","H_City",new {id=item.Id},Context.Request.Scheme)','تعديل المحافظة ')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> تعديل</a>
                                <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                    <input type="hidden" asp-for="@item.Id" />
                                    <input type="submit" value="حذف" class="btn btn-danger" />
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
*@

   <div id="view-all">
    @await Html.PartialAsync("_ViewAll")
</div>



        


    </div>
</div>

</div>





    
  </div>
</div>



              
            </div>
        </div>

 </div><!--end row-->



        </div><!-- container -->
        <!--Start Rightbar-->
        <!--Start Rightbar/offcanvas-->
        <!--end Rightbar-->
        <!--Start Footer-->
        <!-- Footer Start -->
        <footer class="footer text-center text-sm-start">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script> شركة اوراكس سوفت <span class="text-muted d-none d-sm-inline-block float-end">
                للانظمة
                وتقنية المعلومات
            </span>
        </footer>
        <!-- end Footer -->
        <!--end footer-->
    </div>
    <!-- end page content -->
</div>

@section scripts
{

 @*farze-regesrer*@
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.core.min.js"></script>
    @*polo*@

    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>


    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/locale/bootstrap-table-ar-SA.min.js"></script>



    <script>
    
    $(document).ready(function () {
    bindDatatable();

     $('#userinputid').on('change', function (event) {
                                          //$('#tableServicesGruop').DataTable().ajax.reload(null, false);

                                             $('#tableServicesGruop').DataTable().ajax.url('/H_City/GetDataFarz1/' + $("#userinputid").val()).load();

                                        });


});

function bindDatatable() {
    datatable = $('#tableServicesGruop')
        .DataTable({

            "sAjaxSource":'/H_City/GetDataFarz1/' + $("#userinputid").val(),
            "bServerSide": true,
            "bProcessing": true,
            "bSearchable": true,
            "order": [[1, 'asc']],
            "language": {
                //"emptyTable": "No record found.",
                //"processing":
                //    '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">انتضر يتم تحميل البيانات...</span> '
                //,

                "sProcessing": "جارٍ التحميل...",
                "sLengthMenu": "أظهر _MENU_ سجلات",
                "sZeroRecords": "لم يعثر على أية سجلات",
                "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ سجل",
                "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                "sInfoFiltered": "(منتقاة من مجموع _MAX_ سجل)",
                "sInfoPostFix": "",
                "sSearch": "ابحث:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "الأول",
                    "sPrevious": "السابق",
                    "sNext": "التالي",
                    "sLast": "الأخير"
                }



            },
            "columns": [
                {

                    "data": "id",
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "name",
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "countArea",
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "nameCountry",
                    "autoWidth": true,
                    "searchable": true
                },
                
                {
                     "render": function (data, type, row, meta) {

                       // return '<div><button onclick="selectEdit(/BondQ/Delete/' + row.id + ')"><i class="las fa-trash text-danger font-18"></i></button><button onclick="showInPopup(/BondQ/AddOrEdit/' + row.id + ')"><i class="las fa-edit text-success font-18"></i></button> <button onclick="/BondQ/Details/' + row.id + '"><i class="las fa-tools text-success font-18"></i></button></div>'
                         return '<div><a onclick="selectDel(JSON.parse(\'' + JSON.stringify(row).replace(/'/g, '&apos;').replace(/"/g, '&quot;') + '\'))">'+ '<i class="las fa-trash text-danger font-30"></i>' + '</a><a onclick="selectEdit(JSON.parse(\'' + JSON.stringify(row).replace(/'/g, '&apos;').replace(/"/g, '&quot;') + '\'))">'+ '<i class="las fa-edit text-success font-30"></i>' + '</a> <div>';

                        //'<div> <button   data-en="' + row.nameEn + '" data-id="' + row.id + '"  data-toggle="' + row.name + '" onclick="selectSerCLick(event)"  class="btn btn-success">تعديل</button> <button   data-en="' + row.nameEn + '" data-id="' + row.id + '"  data-toggle="' + row.name + '" onclick="DelSerCLick(event)"  class="btn btn-danger">حذف</button></div>';

                        
                    }
                }



            ]
        });
}







function selectEdit(row1)
{

    showInPopup("/H_City/AddOrEdit/"+row1.id,"تعديل المحافظة");
}




showDelPop_2 = (url, title) => {
   // alert(url);


  

    Swal.fire({
        title: 'Are you sure?',
        text: "هل انت متأكد من حذف" + title +" !",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'نعم, حذف السجل!',
    }).then(function (result) {
        if (result.isConfirmed) {


            $.ajax({
                type: 'GET',
                url: url,
                success: function (res) {

                    $('#tableServicesGruop').DataTable().ajax.reload(null, false);

                    Swal.fire(
                        'تم الحذف!',
                        'تم حذف السجل بنجاح.',
                        'success'
                    );

                    //$('#print-modal .modal-body').html(res);
                    //$('#print-modal .modal-title').html(title);
                    //$('#print-modal').modal('show');
                    //// to make popup draggable
                    //$('.modal-dialog').draggable({
                    //    handle: ".modal-header"
                    //});
                }
            });



        }
    })

}

function selectDel(row2)
{
    
     showDelPop_2("/H_City/Delete/"+row2.id," المحافظه ");
}

                                       
                                       



    </script>





    
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



}