@model IEnumerable<HotelSys.ViewModel.UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>






<div class="page-wrapper">

        <!-- Page Content-->
        <div class="page-content-tab">

            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="float-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">الاعدادات </a></li>

                                    <li class="breadcrumb-item active">المستخدمين  </li>
                                </ol>
                            </div>
                            <h4 class="page-title"> المستخدمين </h4>
                            <div>
                                <a asp-action="Index">رجوع</a>
                            </div>
                        </div>
                        <!--end page-title-box-->
                    </div>
                    <!--end col-->
                </div>

                <hr />
                <div class="row">

                    
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-end">
                            @*  <a asp-page="~/Areas/Identity/Pages/Account/Register" class="text-primary ms-2"> انشاء مستخدم جديد</a>
*@
<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">
 <i class="mdi add-file-input me-2 ">
                                    <span style="color:white">  + انشاء حساب جديد </span>
     
      </i>    
</a>

                         @*   <button type="button" class="btn btn-primary"
                                    onclick="@("window.location.href='" + @Url.Action("Create", "Users") + "'");"
                                    new { id=5 })">

                                <i class="mdi add-file-input me-2"></i>  + انشاء حساب جديد
                            </button>*@

                        </div>
                        <h4 class="page-title"></h4>
                    </div>
                    <!--end page-title-box-->
                </div>


                   <table class="table">
    <thead>
        <tr>
            <th>
               اسم المستخدم
            </th>
             <th>
                اسم الموظف
            </th>
            <th>
                رقم التلفون
            </th>
           
             <th>
                صناديق المستخدم
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
           
            
             
            <td>
                                    @foreach (var box in item.boxUser)
                                    {
                                        <div> @box.Name 
                                            
                                        </div>

                                    }
                                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


                </div>



            </div>
            </div>
        </div>

                  

