@model HotelSys.ViewModel._CompanyViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">

                        <h4 class="page-title">الشركات</h4>
                    </div>
                    <!--end page-title-box-->
                </div>
                <!--end col-->
            </div>

            <div class="row">

                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-end">

                            <a asp-action="Index">رجوع</a>

                        </div>
                        <h4 class="page-title"> حذف شركة  </h4>
                    </div>
                    <!--end page-title-box-->
                </div>


                <input class="form-control text-danger" type="text" placeholder="تنبية : هل انت متأكد من حذف شرط بيانات الشركة هذة؟ " readonly>

                <div>

                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.NameCo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.NameCo)
                        </dd>
                        <dt>
                            <label>رقم الحساب </label>
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.IdAccountCo)
                        </dd>
                        @*<dt>

                        @Html.DisplayNameFor(model => model.IdAccountNavigation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IdAccountNavigation.Name)
                    </dd>*@
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdCo" />
                        <input type="submit" value="حذف " class="btn btn-default" />

                    </form>
                </div>
            </div>
            <footer class="footer text-center text-sm-start">
                &copy;
                <script>
                document.write(new Date().getFullYear())
                </script> شركة اوراكس سوفت <span class="text-muted d-none d-sm-inline-block float-end">
                    للانظمة
                    وتقنية المعلومات
                </span>
            </footer>

        </div>
    </div>
    </div>